/* Modifications to notebook format  */

/* eliminate top gray */
#notebook {
  padding-top: 0px !important;
}

/* eliminate side gray */
.container {
  width:100% !important;
}

/* eliminate bottom gray */
.end_space {
  min-height: 800px !important;
}

/* reduce size of the In [n] */
.input .input_prompt.prompt {
  min-width: 0; 
}
div.output_area pre {
  font-size: 16px !important; padding-left: 10px;
}

/* Remove end space at the end of the page */
#site {
  height: 100%;
}
